node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
output.json

# Folder containing the web-app supplied with the tutorial which provides a ReactJS front-end built using AWS Amplify.
application